

.topnav {
    
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #F5F5DC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Chilanka', cursive;
  }
  
 
  .topnav a:hover {
    background-color: maroon;
    color: beige;
  }
  
  .active {
    background-color: maroon;
    color: beige;
  }

  header {
    border: solid 3px darkblue;
    background-image: url(../Ferrari.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.mintext {
  color: darkblue;
  text-align: center;
  padding-top: 110px; 
  font-size: 45px;
  font-family: 'Special Elite', cursive;
}
.contact{
color: beige;
text-align: left;
padding-right: 200px;
font-size: 7px





}
.contact{
color:beige;
text-align: left;
  padding-right: 200px;
  font-size: 7px;


  
}
.contact h1{
  font-size: 25px
}
.contact p{
  font-size: 15px
}
.Book-Parking{
   color: beige;
    text-align: right;
    padding-right: 10px;
    font-size: 7px
   
   
  
    
}
.button{
  margin-top: 30px;
  margin-left: 440px;
}
.btn{
  border:1px solid darkblue;
  padding: 10px 100px;
  color: darkblue;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  font-family: 'Bangers', cursive;
  text-transform: uppercase;


}
.btn-one{
  background-color:maroon;
  font-family: "Roboto", sans-serif;
}
.btn-two{
  font-family: "Roboto",sans-serif; 

}
.btn-two:hover{
  background-color: maroon;
  transition: all 0.5s ease-in;
}

.main-contact{
  border: solid 3px beige;
  background-image: url(../contact.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.main-bookparking{
  border: solid 3px black;
  background-image: url(../book.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}


.main-service{
  border: solid 3px beige;
  background-image: url(../service.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;



}

.Book-Parking{
  text-align: left;
  color: beige;
}
.Book-Parking p {
  font-size: 15px;
  font-weight: bold;
}
.Book-Parking h1{
  font-size: 25px;
}

.findus{ color: beige;
  text-align: left;
  padding-right: 200px;
  font-size: 7px;

}
.main-findus{
  border: solid 3px beige;
  background-image: url(../find.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;


}
.findus p{
  font-size: 15px;
}
.mintext1{
  color: darkblue;
  text-align: center;
  padding-top: 0px; 
  font-size: 45px;
  font-family: 'Special Elite', cursive;

}
.service{ color: beige;
  text-align: top;
  padding-right: 200px;
  font-size: 13px;

  }
  .service h1{
    font-size: 25px;
  }
  .service p{
    font-size: 15px
  }
.main-webpage{border: solid 3px beige;
  background-image: url('../contact.jpg');
  height: 100;
  background-size: cover;
  background-position: center;
   
  }
  .mintext3 p{color: beige;
    text-align: left;
    padding-top: 0px; 
    font-size: 45px;
    font-family: 'Special Elite', cursive;

  }
  .mintext3 h1{
    color: darkblue;
  text-align: center;
  padding-top: 0px; 
  font-size: 50px;
  font-family: 'Special Elite', cursive;
  }